.fullscreen {
	width: 100%;
	height: 100%;

	--page-side-padding: 10vw;
}

.heading {
	text-align: center;
	text-transform: uppercase;
	font-size: 6em;
	font-weight: 700;
}

.paragraph {
	display: inline-block;
	font-size: 2.2em;
	font-weight: 900;
	white-space: wrap;
}
